<html>
    <head>

    </head>
    <body>

    {{ if .Profile }}
        <a href="/logout">Logout</a>
        <a href="/api/token/random">Random Token</a>
    {{ else }}
        <a href="/login">Login</a>
    {{ end }}

    </body>
</html>